.tableWrapper {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  color: rgba(107, 114, 128, 1);
  border-spacing: 0rem;
}

.tableHeader {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(55, 65, 81, 1);
  background-color: rgba(219, 234, 254, 1);
  text-transform: uppercase;
}

.headerText {
  padding: 0.75rem 1.5rem;
}

.rowHover {
  border-bottom: 1rem solid rgba(107, 114, 128, 1);
  :hover {
    background-color: rgba(249, 250, 251, 1);
  }
}

.tableRow {
  background-color: rgba(255, 255, 255, 1);
}

.rowText {
  padding: 0.75rem 1.5rem;
}

.link {
  font-weight: 500;
  color: rgba(59, 130, 246, 1);
  :hover {
    text-decoration: underline;
  }
}

.title {
  font-weight: 500;
  color: rgba(17, 24, 39, 1);
}
